USE [AX_DEV]
GO
/****** Object:  Table [dbo].[LEDGERJOURNALTABLE]    Script Date: 24/07/2017 19:34:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGERJOURNALTABLE](
	[JOURNALNUM] [nvarchar](10) NOT NULL DEFAULT (''),
	[NAME] [nvarchar](250) NOT NULL DEFAULT (''),
	[LOG] [nvarchar](255) NOT NULL DEFAULT (''),
	[JOURNALTYPE] [int] NOT NULL DEFAULT ((0)),
	[WORKFLOWAPPROVALSTATUS] [int] NOT NULL DEFAULT ((0)),
	[SYSTEMBLOCKED] [int] NOT NULL DEFAULT ((0)),
	[PAYMENTSGENERATED_IT] [int] NOT NULL DEFAULT ((0)),
	[USERBLOCKID] [nvarchar](8) NOT NULL DEFAULT (''),
	[REJECTEDBY] [nvarchar](8) NOT NULL DEFAULT (''),
	[REPORTEDASREADYBY] [nvarchar](8) NOT NULL DEFAULT (''),
	[JOURNALNAME] [nvarchar](50) NOT NULL DEFAULT (''),
	[POSTED] [int] NOT NULL DEFAULT ((0)),
	[SESSIONLOGINDATETIME] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[SESSIONLOGINDATETIMETZID] [int] NOT NULL DEFAULT ((37001)),
	[OFFSETACCOUNTTYPE] [int] NOT NULL DEFAULT ((0)),
	[INUSEBY] [nvarchar](8) NOT NULL DEFAULT (''),
	[GROUPBLOCKID] [nvarchar](10) NOT NULL DEFAULT (''),
	[ORIGINALJOURNALNUM] [nvarchar](10) NOT NULL DEFAULT (''),
	[CURRENCYCODE] [nvarchar](3) NOT NULL DEFAULT (''),
	[FIXEDEXCHRATE] [int] NOT NULL DEFAULT ((0)),
	[DETAILSUMMARYPOSTING] [int] NOT NULL DEFAULT ((0)),
	[DOCUMENTNUM] [nvarchar](20) NOT NULL DEFAULT (''),
	[EXCHRATESECONDARY] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[EXCHRATE] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[EUROTRIANGULATION] [int] NOT NULL DEFAULT ((0)),
	[FIXEDOFFSETACCOUNT] [int] NOT NULL DEFAULT ((0)),
	[JOURNALTOTALCREDIT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[JOURNALTOTALDEBIT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[JOURNALTOTALOFFSETBALANCE] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[REMOVELINEAFTERPOSTING] [int] NOT NULL DEFAULT ((0)),
	[CURRENTOPERATIONSTAX] [int] NOT NULL DEFAULT ((0)),
	[LEDGERJOURNALINCLTAX] [int] NOT NULL DEFAULT ((0)),
	[ORIGINALCOMPANY] [nvarchar](4) NOT NULL DEFAULT (''),
	[SESSIONID] [int] NOT NULL DEFAULT ((0)),
	[BANKREMITTANCETYPE] [int] NOT NULL DEFAULT ((0)),
	[BANKACCOUNTID] [nvarchar](20) NOT NULL DEFAULT (''),
	[PROTESTSETTLEDBILL] [int] NOT NULL DEFAULT ((0)),
	[JOURNALBALANCE] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[ENDBALANCE] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[CUSTVENDNEGINSTPROTESTPROCESS] [int] NOT NULL DEFAULT ((0)),
	[VOUCHERALLOCATEDATPOSTING] [int] NOT NULL DEFAULT ((0)),
	[NUMOFLINES] [int] NOT NULL DEFAULT ((0)),
	[LINESLIMITBEFOREDISTRIBUTION] [int] NOT NULL DEFAULT ((0)),
	[POSTEDDATETIME] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[POSTEDDATETIMETZID] [int] NOT NULL DEFAULT ((37001)),
	[REVERSEENTRY] [int] NOT NULL DEFAULT ((0)),
	[REVERSEDATE] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[DEFAULTDIMENSION] [bigint] NOT NULL DEFAULT ((0)),
	[OFFSETLEDGERDIMENSION] [bigint] NOT NULL DEFAULT ((0)),
	[APPROVER] [bigint] NOT NULL DEFAULT ((0)),
	[NUMBERSEQUENCETABLE] [bigint] NOT NULL DEFAULT ((0)),
	[ASSETTRANSFERTYPE_LT] [int] NOT NULL DEFAULT ((0)),
	[RETAILSTATEMENTID] [nvarchar](20) NOT NULL DEFAULT (''),
	[TAXOBLIGATIONCOMPANY] [int] NOT NULL DEFAULT ((0)),
	[BYSYSTEM] [int] NOT NULL DEFAULT ((0)),
	[CANCONTINUE] [int] NOT NULL DEFAULT ((0)),
	[PIL_DESCRIPTIONINVEST] [nvarchar](250) NOT NULL DEFAULT (''),
	[MODIFIEDBY] [nvarchar](8) NOT NULL DEFAULT ('?'),
	[CREATEDBY] [nvarchar](8) NOT NULL DEFAULT ('?'),
	[DATAAREAID] [nvarchar](4) NOT NULL DEFAULT ('dat'),
	[RECVERSION] [int] NOT NULL DEFAULT ((1)),
	[PARTITION] [bigint] NOT NULL DEFAULT ((5637144576.)),
	[RECID] [bigint] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_211TYPENUMIDX]    Script Date: 24/07/2017 19:34:10 ******/
ALTER TABLE [dbo].[LEDGERJOURNALTABLE] ADD  CONSTRAINT [I_211TYPENUMIDX] PRIMARY KEY NONCLUSTERED 
(
	[PARTITION] ASC,
	[DATAAREAID] ASC,
	[JOURNALNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LEDGERJOURNALTABLE]  WITH CHECK ADD CHECK  (([RECID]<>(0)))
GO
