USE [AX_DEV]
GO
/****** Object:  Table [dbo].[DIMENSIONATTRIBUTEVALUECOMBINATION]    Script Date: 24/07/2017 19:34:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIMENSIONATTRIBUTEVALUECOMBINATION](
	[DISPLAYVALUE] [nvarchar](500) NOT NULL DEFAULT (''),
	[MAINACCOUNT] [bigint] NOT NULL DEFAULT ((0)),
	[ACCOUNTSTRUCTURE] [bigint] NOT NULL DEFAULT ((0)),
	[LEDGERDIMENSIONTYPE] [int] NOT NULL DEFAULT ((0)),
	[HASH] [varbinary](28) NULL DEFAULT (NULL),
	[MODIFIEDBY] [nvarchar](8) NOT NULL DEFAULT ('?'),
	[RECVERSION] [int] NOT NULL DEFAULT ((1)),
	[PARTITION] [bigint] NOT NULL DEFAULT ((5637144576.)),
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [I_385RECID] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DIMENSIONATTRIBUTEVALUECOMBINATION] ([DISPLAYVALUE], [MAINACCOUNT], [ACCOUNTSTRUCTURE], [LEDGERDIMENSIONTYPE], [HASH], [MODIFIEDBY], [RECVERSION], [PARTITION], [RECID]) VALUES (N'111000000', 0, 0, 0, 0x07FD30140000003C0BF57F548D57118EA5A423D3221CF8273EF960FF, N'Admin', 1, 5637144576, 5637146829)
INSERT [dbo].[DIMENSIONATTRIBUTEVALUECOMBINATION] ([DISPLAYVALUE], [MAINACCOUNT], [ACCOUNTSTRUCTURE], [LEDGERDIMENSIONTYPE], [HASH], [MODIFIEDBY], [RECVERSION], [PARTITION], [RECID]) VALUES (N'5103010107', 5637148525, 0, 1, 0x07FD3014000000F9C045A3A8615AEA5B519B94221B397B598E08D5FF, N'Admin', 1, 5637144576, 5637146830)
INSERT [dbo].[DIMENSIONATTRIBUTEVALUECOMBINATION] ([DISPLAYVALUE], [MAINACCOUNT], [ACCOUNTSTRUCTURE], [LEDGERDIMENSIONTYPE], [HASH], [MODIFIEDBY], [RECVERSION], [PARTITION], [RECID]) VALUES (N'1101010101', 5637146646, 0, 1, 0x07FD3014000000AC778795497AD92D8C2979638ACE833478CB3398FF, N'Admin', 1, 5637144576, 5637146831)
GO
ALTER TABLE [dbo].[DIMENSIONATTRIBUTEVALUECOMBINATION]  WITH CHECK ADD CHECK  (([RECID]<>(0)))
GO
