USE [AX_DEV]
GO
/****** Object:  Table [dbo].[BANKACCOUNTTABLE]    Script Date: 24/07/2017 19:34:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANKACCOUNTTABLE](
	[ACCOUNTID] [nvarchar](20) NOT NULL DEFAULT (''),
	[BANKGROUPID] [nvarchar](50) NOT NULL DEFAULT (''),
	[CURRENCYCODE] [nvarchar](3) NOT NULL DEFAULT (''),
	[NAME] [nvarchar](250) NOT NULL DEFAULT (''),
	[ACCOUNTNUM] [nvarchar](35) NOT NULL DEFAULT (''),
	[BANKDESTINATIONNAME] [nvarchar](23) NOT NULL DEFAULT (''),
	[BANKCOMPANYSTATEMENTNAME] [nvarchar](16) NOT NULL DEFAULT (''),
	[BANKCIN] [nvarchar](1) NOT NULL DEFAULT (''),
	[BANKINTERBANKCLEARINGCODE_BE] [int] NOT NULL DEFAULT ((0)),
	[NSFLEDGERJOURNALNAME] [nvarchar](50) NOT NULL DEFAULT (''),
	[REGISTRATIONNUM] [nvarchar](12) NOT NULL DEFAULT (''),
	[PHONE] [nvarchar](20) NOT NULL DEFAULT (''),
	[TELEFAX] [nvarchar](20) NOT NULL DEFAULT (''),
	[DIVISIONPAYMID] [nvarchar](35) NOT NULL DEFAULT (''),
	[EMAIL] [nvarchar](80) NOT NULL DEFAULT (''),
	[URL] [nvarchar](255) NOT NULL DEFAULT (''),
	[TELEX] [nvarchar](20) NOT NULL DEFAULT (''),
	[CELLULARPHONE] [nvarchar](20) NOT NULL DEFAULT (''),
	[PHONELOCAL] [nvarchar](10) NOT NULL DEFAULT (''),
	[BANKMULTICURRENCY] [int] NOT NULL DEFAULT ((0)),
	[BANKSORTCODE] [nvarchar](10) NOT NULL DEFAULT (''),
	[DISCCREDITMAXMST] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[BANKCLEARINGCODE] [nvarchar](10) NOT NULL DEFAULT (''),
	[BANKCONTRACTACCOUNT] [nvarchar](11) NOT NULL DEFAULT (''),
	[GIROCONTRACT] [nvarchar](20) NOT NULL DEFAULT (''),
	[GIROCONTRACTACCOUNT] [nvarchar](11) NOT NULL DEFAULT (''),
	[FEECONTRACTACCOUNT] [nvarchar](11) NOT NULL DEFAULT (''),
	[COMPANYPAYMID] [nvarchar](35) NOT NULL DEFAULT (''),
	[CUSTPAYMFEEPOST] [int] NOT NULL DEFAULT ((0)),
	[CONTACTPERSON] [nvarchar](250) NOT NULL DEFAULT (''),
	[DEBITDIRECTID] [nvarchar](35) NOT NULL DEFAULT (''),
	[SWIFTNO] [nvarchar](20) NOT NULL DEFAULT (''),
	[DISCDELAYNOTICEDAYS] [int] NOT NULL DEFAULT ((0)),
	[BANKSUFFIX] [nvarchar](3) NOT NULL DEFAULT (''),
	[BANKTRANSFERCODE] [nvarchar](15) NOT NULL DEFAULT (''),
	[PAYMMANKEEPIFREMOVEDFROMBATCH] [int] NOT NULL DEFAULT ((0)),
	[PAGER] [nvarchar](20) NOT NULL DEFAULT (''),
	[SMS] [nvarchar](80) NOT NULL DEFAULT (''),
	[NSFFEEMARKUPGROUPMODULE] [int] NOT NULL DEFAULT ((0)),
	[BANKCODETYPE] [int] NOT NULL DEFAULT ((0)),
	[IBAN] [nvarchar](35) NOT NULL DEFAULT (''),
	[LEDGERJOURNALNAMEID] [nvarchar](50) NOT NULL DEFAULT (''),
	[REMITCOLLECTIONAMOUNT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[REMITDISCOUNTAMOUNT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[INVOICEREMITAMOUNT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[NSFFEEMARKUPGROUPID] [nvarchar](50) NOT NULL DEFAULT (''),
	[INCLUDEBANKBARCODE_FI] [int] NOT NULL DEFAULT ((0)),
	[ISBANKPRENOTE] [int] NOT NULL DEFAULT ((0)),
	[PRINTGIRO_FI] [int] NOT NULL DEFAULT ((0)),
	[PRENOTERESPONSEDAYS] [int] NOT NULL DEFAULT ((0)),
	[LOCATION] [bigint] NOT NULL DEFAULT ((0)),
	[CUSTOMERPAYMENTFEELEDGERDIMENSION] [bigint] NOT NULL DEFAULT ((0)),
	[INVOICEREMITTANCELEDGERDIMENSION] [bigint] NOT NULL DEFAULT ((0)),
	[LEDGERDIMENSION] [bigint] NOT NULL DEFAULT ((0)),
	[REMITTANCECOLLECTIONLEDGERDIMENSION] [bigint] NOT NULL DEFAULT ((0)),
	[REMITTANCEDISCOUNTLEDGERDIMENSION] [bigint] NOT NULL DEFAULT ((0)),
	[ACTIVEFROM] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[ACTIVEFROMTZID] [int] NOT NULL DEFAULT ((37001)),
	[ACTIVETO] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[ACTIVETOTZID] [int] NOT NULL DEFAULT ((37001)),
	[BANKACCOUNTSTATUS] [int] NOT NULL DEFAULT ((0)),
	[DEFAULTDIMENSION] [bigint] NOT NULL DEFAULT ((0)),
	[RFC_MX] [nvarchar](13) NOT NULL DEFAULT (''),
	[OVERDRAFTLIMIT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[PAYMLOCALEXPORTPATH_LT] [nvarchar](259) NOT NULL DEFAULT (''),
	[PAYMFOREIGNEXPORTPATH_LT] [nvarchar](259) NOT NULL DEFAULT (''),
	[ACCOUNTNAMEKANA_JP] [nvarchar](40) NOT NULL DEFAULT (''),
	[TRANSTYPE_JP] [int] NOT NULL DEFAULT ((0)),
	[CURRENCYSELLORDER_TEMPLATENAME_RU] [nvarchar](259) NOT NULL DEFAULT (''),
	[CORRACCOUNT_W] [nvarchar](35) NOT NULL DEFAULT (''),
	[TEMPLATEFILENAME_RU] [nvarchar](259) NOT NULL DEFAULT (''),
	[CURRENCYORDER_TEMPLATENAME_RU] [nvarchar](259) NOT NULL DEFAULT (''),
	[PAYMORDERNUMSEQID_W] [nvarchar](50) NOT NULL DEFAULT (''),
	[LVPAYORDERTYPE] [int] NOT NULL DEFAULT ((0)),
	[BANKCONSTANTSYMBOL] [bigint] NOT NULL DEFAULT ((0)),
	[BANKPOSITIVEPAYFORMAT] [bigint] NOT NULL DEFAULT ((0)),
	[BANKPOSITIVEPAYSTARTDATE] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[BANKRECONALLOWEDPENNYDIFFERENCE] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[BANKRECONCILIATIONENABLED] [int] NOT NULL DEFAULT ((0)),
	[BANKRECONCILIATIONMATCHRULESET] [bigint] NOT NULL DEFAULT ((0)),
	[BANKRECONCILIATIONSTMTASPAYMCONFIRM] [int] NOT NULL DEFAULT ((0)),
	[BANKRECONMATCHAUTOAFTERIMPORT] [int] NOT NULL DEFAULT ((0)),
	[BANKRECONMATCHRULEMANUALMATCH] [bigint] NOT NULL DEFAULT ((0)),
	[BANKRECONMATCHRULEMANUALREVERSAL] [bigint] NOT NULL DEFAULT ((0)),
	[BANKSTATEMENTFORMAT] [bigint] NOT NULL DEFAULT ((0)),
	[BANKSTATEMENTNAME] [nvarchar](250) NOT NULL DEFAULT (''),
	[LVDEFAULTBANK] [int] NOT NULL DEFAULT ((0)),
	[SPECIFICSYMBOL] [nvarchar](20) NOT NULL DEFAULT (''),
	[PIL_REKSADANA] [int] NOT NULL DEFAULT ((0)),
	[PIL_BASE] [int] NOT NULL DEFAULT ((0)),
	[PIL_DEPOSITOGIRO] [int] NOT NULL DEFAULT ((0)),
	[PIL_BANKNAME] [nvarchar](250) NOT NULL DEFAULT (''),
	[PIL_DEPOSITOPRODUCT] [nvarchar](25) NOT NULL DEFAULT (''),
	[PIL_DEPOSITOBANK] [int] NOT NULL DEFAULT ((0)),
	[PIL_OBLIGASIGIRO] [int] NOT NULL DEFAULT ((0)),
	[PIL_SAHAMGIRO] [int] NOT NULL DEFAULT ((0)),
	[PIL_ACCOUNTNAME] [nvarchar](60) NOT NULL DEFAULT (''),
	[PIL_REKENINGEFEK] [nvarchar](35) NOT NULL DEFAULT (''),
	[PIL_BANKKATEGORI] [int] NOT NULL DEFAULT ((0)),
	[PIL_OBLIGASIPRODUCT] [nvarchar](25) NOT NULL DEFAULT (''),
	[DATAAREAID] [nvarchar](4) NOT NULL DEFAULT ('dat'),
	[RECVERSION] [int] NOT NULL DEFAULT ((1)),
	[PARTITION] [bigint] NOT NULL DEFAULT ((5637144576.)),
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [I_007ACCOUNTIDX] PRIMARY KEY CLUSTERED 
(
	[PARTITION] ASC,
	[DATAAREAID] ASC,
	[ACCOUNTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BANKACCOUNTTABLE]  WITH CHECK ADD CHECK  (([RECID]<>(0)))
GO
