USE [AX_DEV]
GO
/****** Object:  Table [dbo].[LEDGERJOURNALTRANS]    Script Date: 24/07/2017 19:34:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGERJOURNALTRANS](
	[JOURNALNUM] [nvarchar](10) NOT NULL DEFAULT (''),
	[LINENUM] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[ACCOUNTTYPE] [int] NOT NULL DEFAULT ((0)),
	[COMPANY] [nvarchar](4) NOT NULL DEFAULT (''),
	[TXT] [nvarchar](250) NOT NULL DEFAULT (''),
	[AMOUNTCURDEBIT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[CURRENCYCODE] [nvarchar](3) NOT NULL DEFAULT (''),
	[EXCHRATE] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[TAXGROUP] [nvarchar](50) NOT NULL DEFAULT (''),
	[CASHDISCPERCENT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[QTY] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[BANKNEGINSTRECIPIENTNAME] [nvarchar](250) NOT NULL DEFAULT (''),
	[ENTERPRISENUMBER] [nvarchar](50) NOT NULL DEFAULT (''),
	[PRICE] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[SETTLEVOUCHER] [int] NOT NULL DEFAULT ((0)),
	[POSTINGPROFILE] [nvarchar](10) NOT NULL DEFAULT (''),
	[VOUCHER] [nvarchar](20) NOT NULL DEFAULT (''),
	[AMOUNTCURCREDIT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[PAYMENTSTATUS] [int] NOT NULL DEFAULT ((0)),
	[CASHDISCAMOUNT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[ACKNOWLEDGEMENTDATE] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[VENDTRANSID] [bigint] NOT NULL DEFAULT ((0)),
	[CUSTTRANSID] [bigint] NOT NULL DEFAULT ((0)),
	[REMAINAMOUNT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[TAXCODE] [nvarchar](50) NOT NULL DEFAULT (''),
	[TAX1099RECID] [bigint] NOT NULL DEFAULT ((0)),
	[BANKDEPOSITVOUCHER] [int] NOT NULL DEFAULT ((0)),
	[PAYMREFERENCE] [nvarchar](20) NOT NULL DEFAULT (''),
	[BANKDEPOSITNUM] [nvarchar](20) NOT NULL DEFAULT (''),
	[PAYMSPEC] [nvarchar](50) NOT NULL DEFAULT (''),
	[PAYMMODE] [nvarchar](50) NOT NULL DEFAULT (''),
	[MARKEDINVOICE] [nvarchar](20) NOT NULL DEFAULT (''),
	[OFFSETACCOUNTTYPE] [int] NOT NULL DEFAULT ((0)),
	[BANKTRANSTYPE] [nvarchar](50) NOT NULL DEFAULT (''),
	[OFFSETCOMPANY] [nvarchar](4) NOT NULL DEFAULT (''),
	[OFFSETTXT] [nvarchar](250) NOT NULL DEFAULT (''),
	[TAX1099AMOUNT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[PAYMENTNOTES] [nvarchar](1000) NOT NULL DEFAULT (''),
	[MARKEDINVOICERECID] [bigint] NOT NULL DEFAULT ((0)),
	[FOREIGNVOUCHER] [nvarchar](20) NOT NULL DEFAULT (''),
	[FOREIGNCOMPANY] [nvarchar](4) NOT NULL DEFAULT (''),
	[TRANSFERRED] [int] NOT NULL DEFAULT ((0)),
	[CANCEL] [int] NOT NULL DEFAULT ((0)),
	[NOEDIT] [int] NOT NULL DEFAULT ((0)),
	[INVISIBLE] [int] NOT NULL DEFAULT ((0)),
	[TRANSDATE] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[TRANSACTIONTYPE] [int] NOT NULL DEFAULT ((0)),
	[DOCUMENTDATE] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[DOCUMENTNUM] [nvarchar](20) NOT NULL DEFAULT (''),
	[APPROVED] [int] NOT NULL DEFAULT ((0)),
	[PAYMID] [nvarchar](200) NOT NULL DEFAULT (''),
	[FREQVALUE] [int] NOT NULL DEFAULT ((0)),
	[FREQCODE] [int] NOT NULL DEFAULT ((0)),
	[DUE] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[DATECASHDISC] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[TRANSFERREDBY] [nvarchar](8) NOT NULL DEFAULT (''),
	[LOADINGDATE] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[FILECREATED] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[PAYMENTACCOUNT] [nvarchar](20) NOT NULL DEFAULT (''),
	[INVOICE] [nvarchar](20) NOT NULL DEFAULT (''),
	[TRANSFERREDTO] [nvarchar](10) NOT NULL DEFAULT (''),
	[TRANSFER] [int] NOT NULL DEFAULT ((0)),
	[LASTTRANSFERRED] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[TRANSFERREDON] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[PURCHLEDGERPOSTING] [int] NOT NULL DEFAULT ((0)),
	[BANKCHEQUENUM] [nvarchar](20) NOT NULL DEFAULT (''),
	[PAYMENT] [nvarchar](50) NOT NULL DEFAULT (''),
	[CASHDISCCODE] [nvarchar](50) NOT NULL DEFAULT (''),
	[EXCHRATESECOND] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[TRIANGULATION] [int] NOT NULL DEFAULT ((0)),
	[TAXITEMGROUP] [nvarchar](50) NOT NULL DEFAULT (''),
	[VATNUMJOURNAL] [nvarchar](20) NOT NULL DEFAULT (''),
	[LISTCODE] [int] NOT NULL DEFAULT ((0)),
	[FURTHERPOSTINGTYPE] [int] NOT NULL DEFAULT ((0)),
	[PURCHIDRANGE] [nvarchar](250) NOT NULL DEFAULT (''),
	[POOLRECID] [bigint] NOT NULL DEFAULT ((0)),
	[PREPAYMENT] [int] NOT NULL DEFAULT ((0)),
	[IMPORTDATE] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[BANKCENTRALBANKPURPOSECODE] [nvarchar](10) NOT NULL DEFAULT (''),
	[REASONREFRECID] [bigint] NOT NULL DEFAULT ((0)),
	[BANKCENTRALBANKPURPOSETEXT] [nvarchar](140) NOT NULL DEFAULT (''),
	[CUSTVENDBANKACCOUNTID] [nvarchar](20) NOT NULL DEFAULT (''),
	[PAYMENTSEQUENCENUM] [int] NOT NULL DEFAULT ((0)),
	[ERRORCODEPAYMENT] [nvarchar](30) NOT NULL DEFAULT (''),
	[FURTHERPOSTINGRECID] [bigint] NOT NULL DEFAULT ((0)),
	[TAXDIRECTIONCONTROL] [int] NOT NULL DEFAULT ((0)),
	[CUSTVENDNEGINSTPROTESTREASON] [int] NOT NULL DEFAULT ((0)),
	[BANKREMITTANCETYPE] [int] NOT NULL DEFAULT ((0)),
	[BANKREMITTANCEFILEID] [nvarchar](10) NOT NULL DEFAULT (''),
	[BANKACCOUNTID] [nvarchar](20) NOT NULL DEFAULT (''),
	[BANKPROMISSORYNOTENUM] [nvarchar](20) NOT NULL DEFAULT (''),
	[RELEASEDATECOMMENT] [nvarchar](60) NOT NULL DEFAULT (''),
	[INVOICERELEASEDATE] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[INVOICERELEASEDATETZID] [int] NOT NULL DEFAULT ((37001)),
	[BANKBILLOFEXCHANGENUM] [nvarchar](20) NOT NULL DEFAULT (''),
	[NEGINSTID] [nvarchar](20) NOT NULL DEFAULT (''),
	[TAXWITHHOLDGROUP] [nvarchar](50) NOT NULL DEFAULT (''),
	[TAX1099STATEAMOUNT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[TAX1099STATE] [nvarchar](50) NOT NULL DEFAULT (''),
	[REMITTEECURRENCY] [nvarchar](3) NOT NULL DEFAULT (''),
	[DEFAULTDIMENSION] [bigint] NOT NULL DEFAULT ((0)),
	[OFFSETDEFAULTDIMENSION] [bigint] NOT NULL DEFAULT ((0)),
	[LEDGERDIMENSION] [bigint] NOT NULL DEFAULT ((0)),
	[REVERSEENTRY] [int] NOT NULL DEFAULT ((0)),
	[REVERSEDATE] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[REVRECID] [bigint] NOT NULL DEFAULT ((0)),
	[OFFSETLEDGERDIMENSION] [bigint] NOT NULL DEFAULT ((0)),
	[BANKRECONCILEACCOUNTATPOST] [int] NOT NULL DEFAULT ((0)),
	[BANKCHEQUEDEPOSITTRANSREFRECID] [bigint] NOT NULL DEFAULT ((0)),
	[MARKEDINVOICECOMPANY] [nvarchar](4) NOT NULL DEFAULT (''),
	[REMITTANCELOCATION] [bigint] NOT NULL DEFAULT ((0)),
	[REMITTANCEADDRESS] [bigint] NOT NULL DEFAULT ((0)),
	[RELEASEDATE] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[RELEASEDATETZID] [int] NOT NULL DEFAULT ((37001)),
	[CUSTEINVOICEPAYMDELIVERYNUM] [int] NOT NULL DEFAULT ((0)),
	[CUSTEINVOICEPAYMSECTIONNUM] [int] NOT NULL DEFAULT ((0)),
	[CUSTEINVOICEPAYMTRANSNUM] [int] NOT NULL DEFAULT ((0)),
	[PAYMINSTRUCTION1] [bigint] NOT NULL DEFAULT ((0)),
	[PAYMINSTRUCTION2] [bigint] NOT NULL DEFAULT ((0)),
	[PAYMINSTRUCTION3] [bigint] NOT NULL DEFAULT ((0)),
	[PAYMINSTRUCTION4] [bigint] NOT NULL DEFAULT ((0)),
	[VENDINVOICEDECLARATION_IS] [bigint] NOT NULL DEFAULT ((0)),
	[TAX1099FIELDS] [bigint] NOT NULL DEFAULT ((0)),
	[GSTHSTTAXTYPE_CA] [int] NOT NULL DEFAULT ((0)),
	[VENDBANKACCOUNT] [bigint] NOT NULL DEFAULT ((0)),
	[CUSTBANKACCOUNT] [bigint] NOT NULL DEFAULT ((0)),
	[BUDGETSOURCELEDGERENTRYUNPOSTED] [bigint] NOT NULL DEFAULT ((0)),
	[OPERATIONTYPE_MX] [int] NOT NULL DEFAULT ((0)),
	[TAXWITHHOLDITEMGROUPHEADING_TH] [bigint] NOT NULL DEFAULT ((0)),
	[APPROVER] [bigint] NOT NULL DEFAULT ((0)),
	[EUSALESLIST] [nvarchar](20) NOT NULL DEFAULT (''),
	[LEDGERJOURNALDLVDATE_ES] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[TAXWITHHOLDCALCULATE_TH] [int] NOT NULL DEFAULT ((0)),
	[TAXWITHHOLDALTERNATEVENDORACCT_TH] [nvarchar](20) NOT NULL DEFAULT (''),
	[CUSTFACTUREAUTOCREATE_RU] [int] NOT NULL DEFAULT ((0)),
	[VATONPAYMENT_RU] [int] NOT NULL DEFAULT ((0)),
	[CORRECT_RU] [int] NOT NULL DEFAULT ((0)),
	[INTRACOMVATDUEDATE_W] [int] NOT NULL DEFAULT ((0)),
	[CORRECTEDINVOICEID_RU] [nvarchar](20) NOT NULL DEFAULT (''),
	[CORRECTEDINVOICEDATE_RU] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[ATTACHMENTS_CN] [int] NOT NULL DEFAULT ((0)),
	[REFCOPYREVERSE_CN] [bigint] NOT NULL DEFAULT ((0)),
	[VOUCHER_CN] [nvarchar](20) NOT NULL DEFAULT (''),
	[VATPAYMREFRECID_RU] [bigint] NOT NULL DEFAULT ((0)),
	[VATTAXAGENTVENDACCOUNT_RU] [nvarchar](20) NOT NULL DEFAULT (''),
	[VATOPERATIONCODE_RU] [nvarchar](10) NOT NULL DEFAULT (''),
	[ANNOUNCEMENTNUM_RU] [nvarchar](20) NOT NULL DEFAULT (''),
	[CASHRECEIPTNUM_LV] [nvarchar](20) NOT NULL DEFAULT (''),
	[PAYMENTPRIORITY_LT] [int] NOT NULL DEFAULT ((0)),
	[FOREIGNBANKFEE_LT] [int] NOT NULL DEFAULT ((0)),
	[INFORMBYTELEX_LT] [int] NOT NULL DEFAULT ((0)),
	[INFORMBYPHONE_LT] [int] NOT NULL DEFAULT ((0)),
	[DEBITCURRENCYCODE_LT] [nvarchar](3) NOT NULL DEFAULT (''),
	[MARKUPCODE_RU] [nvarchar](50) NOT NULL DEFAULT (''),
	[CUSTOMSTARIFFDIRECTION_IN] [int] NOT NULL DEFAULT ((0)),
	[ASSESSABLEVALUE_IN] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[MAXIMUMRETAILPRICE_IN] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[EXCISERECORDTYPE_IN] [int] NOT NULL DEFAULT ((0)),
	[GTASERVICECATEGORY_IN] [int] NOT NULL DEFAULT ((0)),
	[NONRECOVERABLEPERCENT_IN] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[VATGOODSTYPE_IN] [int] NOT NULL DEFAULT ((0)),
	[CONSIGNMENTNOTENUM_IN] [nvarchar](15) NOT NULL DEFAULT (''),
	[CUSTOMSDUTY_IN] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[TDSGROUP_IN] [nvarchar](50) NOT NULL DEFAULT (''),
	[TCSGROUP_IN] [nvarchar](50) NOT NULL DEFAULT (''),
	[NATUREOFASSESSEE_IN] [int] NOT NULL DEFAULT ((0)),
	[COMPANYLOCATION_IN] [bigint] NOT NULL DEFAULT ((0)),
	[AGREEMENTCOMPANY_RU] [nvarchar](4) NOT NULL DEFAULT (''),
	[OFFSETAGREEMENTCOMPANY_RU] [nvarchar](4) NOT NULL DEFAULT (''),
	[LEDGERVOUCHERTYPE_CN] [bigint] NOT NULL DEFAULT ((0)),
	[SALESTAXFORMTYPES_IN] [bigint] NOT NULL DEFAULT ((0)),
	[CUSTOMSTARIFFCODETABLE_IN] [bigint] NOT NULL DEFAULT ((0)),
	[EXCISETARIFFCODES_IN] [bigint] NOT NULL DEFAULT ((0)),
	[SERVICECODETABLE_IN] [bigint] NOT NULL DEFAULT ((0)),
	[EXCISETYPE_IN] [int] NOT NULL DEFAULT ((0)),
	[BANKCURRENCYTRANSFERLOG_RU] [bigint] NOT NULL DEFAULT ((0)),
	[BANKCENTRALBANKTRANSTYPECUR_RU] [nvarchar](50) NOT NULL DEFAULT (''),
	[BANKPRINTACCOUNTNUM_RU] [nvarchar](20) NOT NULL DEFAULT (''),
	[OFFSESSIONID_RU] [nvarchar](20) NOT NULL DEFAULT (''),
	[RCASHDOCREPRESPERSONID] [nvarchar](20) NOT NULL DEFAULT (''),
	[OFFSETPOSTINGPROFILE_RU] [nvarchar](10) NOT NULL DEFAULT (''),
	[PAYMPURPOSE_LT] [nvarchar](5) NOT NULL DEFAULT (''),
	[INTBANK_LV] [nvarchar](20) NOT NULL DEFAULT (''),
	[RCASHDOCREPRESTYPE] [int] NOT NULL DEFAULT ((0)),
	[VATDUEDATE_W] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[TAXBASE_W] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[RCASHPAYTRANSTYPE] [int] NOT NULL DEFAULT ((0)),
	[MCRPAYMORDERID] [nvarchar](20) NOT NULL DEFAULT (''),
	[MCRCCGENERALLEDGERID] [nvarchar](10) NOT NULL DEFAULT (''),
	[MCRREFPAYMID] [bigint] NOT NULL DEFAULT ((0)),
	[MCRPRINTTXTONCHECK] [int] NOT NULL DEFAULT ((0)),
	[ACCOUNTAGREEMENTID_RU] [nvarchar](20) NOT NULL DEFAULT (''),
	[ADDRESSING_PL] [nvarchar](250) NOT NULL DEFAULT (''),
	[BANKAGREEMENTEXT_RU] [bigint] NOT NULL DEFAULT ((0)),
	[BANKCLIENTDOCUMENTTYPEID_RU] [nvarchar](2) NOT NULL DEFAULT (''),
	[BANKCOMMACCOUNTID_RU] [nvarchar](20) NOT NULL DEFAULT (''),
	[BANKCURRENCY] [nvarchar](3) NOT NULL DEFAULT (''),
	[BANKCURRENCYAMOUNT] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[BANKCURRENCYDEALCOURSE_RU] [numeric](32, 16) NOT NULL DEFAULT ((0)),
	[BANKPAYMENTREGISTRATIONNUM_LV] [nvarchar](20) NOT NULL DEFAULT (''),
	[BANKRESPWORKERID_RU] [bigint] NOT NULL DEFAULT ((0)),
	[BANKSPECACCOUNTID_RU] [nvarchar](20) NOT NULL DEFAULT (''),
	[BANKVENDACCOUNTID_RU] [nvarchar](20) NOT NULL DEFAULT (''),
	[CASHDISCBASEDATE] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[CASHDISCBASEDAYS] [int] NOT NULL DEFAULT ((0)),
	[CORRECTIONTYPE_RU] [int] NOT NULL DEFAULT ((0)),
	[CUSTVENDACCOUNT_PL] [nvarchar](10) NOT NULL DEFAULT (''),
	[CUSTVENDNAME_PL] [nvarchar](250) NOT NULL DEFAULT (''),
	[OFFSETACCOUNTAGREEMENTID_RU] [nvarchar](20) NOT NULL DEFAULT (''),
	[RECEIPTDATE_W] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[REPRESPERSONCARD_W] [nvarchar](100) NOT NULL DEFAULT (''),
	[REPRESPERSONNAME_W] [nvarchar](250) NOT NULL DEFAULT (''),
	[SKIPBLOCKEDFORMANUALENTRYCHECK] [int] NOT NULL DEFAULT ((0)),
	[SOFTWAREDECLRECEIVED_IN] [int] NOT NULL DEFAULT ((0)),
	[TAXPERIODPAYMENTCODE_PL] [nvarchar](10) NOT NULL DEFAULT (''),
	[TAXSETOFFVOUCHER_IN] [nvarchar](20) NOT NULL DEFAULT (''),
	[TAXWITHHOLDCODE_IN] [nvarchar](50) NOT NULL DEFAULT (''),
	[TRANSFERCURRENCY_RU] [nvarchar](3) NOT NULL DEFAULT (''),
	[CFDIUUID_MX] [nvarchar](36) NOT NULL DEFAULT (''),
	[COMMPROFILETYPE_RU] [int] NOT NULL DEFAULT ((0)),
	[MODIFIEDDATETIME] [datetime] NOT NULL DEFAULT (dateadd(millisecond, -datepart(millisecond,getutcdate()),getutcdate())),
	[DATAAREAID] [nvarchar](4) NOT NULL DEFAULT ('dat'),
	[RECVERSION] [int] NOT NULL DEFAULT ((1)),
	[PARTITION] [bigint] NOT NULL DEFAULT ((5637144576.)),
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [I_212RECID] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LEDGERJOURNALTRANS]  WITH CHECK ADD CHECK  (([RECID]<>(0)))
GO
