USE [AX_DEV]
GO
/****** Object:  Table [dbo].[DIMENSIONATTRIBUTEVALUESET]    Script Date: 24/07/2017 19:34:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIMENSIONATTRIBUTEVALUESET](
	[HASH] [varbinary](28) NULL DEFAULT (NULL),
	[RECVERSION] [int] NOT NULL DEFAULT ((1)),
	[PARTITION] [bigint] NOT NULL DEFAULT ((5637144576.)),
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [I_3260RECID] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DIMENSIONATTRIBUTEVALUESET] ([HASH], [RECVERSION], [PARTITION], [RECID]) VALUES (0x07FD301400000070E39FBB3CD5625742E6A06EF0041BE975EF6D1FFF, 1, 5637144576, 5637144576)
INSERT [dbo].[DIMENSIONATTRIBUTEVALUESET] ([HASH], [RECVERSION], [PARTITION], [RECID]) VALUES (0x07FD3014000000BC7B69D6964E45CAA63E98F48C21B83F209A9C5BFF, 1, 5637144576, 5637145326)
INSERT [dbo].[DIMENSIONATTRIBUTEVALUESET] ([HASH], [RECVERSION], [PARTITION], [RECID]) VALUES (0x07FD30140000006BCD5EF37F8D5C535EDF292F78F2F18259C71C62FF, 1, 5637144576, 5637145327)
GO
ALTER TABLE [dbo].[DIMENSIONATTRIBUTEVALUESET]  WITH CHECK ADD CHECK  (([RECID]<>(0)))
GO
