USE [AX_DEV]
GO
/****** Object:  Table [dbo].[DIMENSIONATTRIBUTEVALUE]    Script Date: 24/07/2017 19:34:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSIONATTRIBUTEVALUE](
	[DIMENSIONATTRIBUTE] [bigint] NOT NULL DEFAULT ((0)),
	[ISSUSPENDED] [int] NOT NULL DEFAULT ((0)),
	[ACTIVEFROM] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[ACTIVETO] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00.000'),
	[ISTOTAL] [int] NOT NULL DEFAULT ((0)),
	[ENTITYINSTANCE] [bigint] NOT NULL DEFAULT ((0)),
	[ISBLOCKEDFORMANUALENTRY] [int] NOT NULL DEFAULT ((0)),
	[GROUPDIMENSION] [nvarchar](10) NOT NULL DEFAULT (''),
	[HASHKEY] [uniqueidentifier] NOT NULL DEFAULT ('{00000000-0000-0000-0000-000000000000}'),
	[ISDELETED] [int] NOT NULL DEFAULT ((0)),
	[OWNER] [bigint] NOT NULL DEFAULT ((0)),
	[ISBALANCING_PSN] [int] NOT NULL DEFAULT ((0)),
	[MODIFIEDBY] [nvarchar](8) NOT NULL DEFAULT ('?'),
	[RECVERSION] [int] NOT NULL DEFAULT ((1)),
	[PARTITION] [bigint] NOT NULL DEFAULT ((5637144576.)),
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [I_381RECID] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DIMENSIONATTRIBUTEVALUE] ([DIMENSIONATTRIBUTE], [ISSUSPENDED], [ACTIVEFROM], [ACTIVETO], [ISTOTAL], [ENTITYINSTANCE], [ISBLOCKEDFORMANUALENTRY], [GROUPDIMENSION], [HASHKEY], [ISDELETED], [OWNER], [ISBALANCING_PSN], [MODIFIEDBY], [RECVERSION], [PARTITION], [RECID]) VALUES (5637144583, 1, CAST(N'1900-01-01 00:00:00.000' AS DateTime), CAST(N'1900-01-01 00:00:00.000' AS DateTime), 1, 1, 0, N'', N'dcde9542-b05a-416f-b2c2-b69b62733484', 1, 0, 0, N'Admin', 437807692, 5637144576, 5637144576)
INSERT [dbo].[DIMENSIONATTRIBUTEVALUE] ([DIMENSIONATTRIBUTE], [ISSUSPENDED], [ACTIVEFROM], [ACTIVETO], [ISTOTAL], [ENTITYINSTANCE], [ISBLOCKEDFORMANUALENTRY], [GROUPDIMENSION], [HASHKEY], [ISDELETED], [OWNER], [ISBALANCING_PSN], [MODIFIEDBY], [RECVERSION], [PARTITION], [RECID]) VALUES (5637144583, 1, CAST(N'1900-01-01 00:00:00.000' AS DateTime), CAST(N'1900-01-01 00:00:00.000' AS DateTime), 1, 2, 0, N'', N'a670ef5d-84fd-4f64-901e-48cb040cc72e', 1, 0, 0, N'Admin', 825487203, 5637144576, 5637144577)
INSERT [dbo].[DIMENSIONATTRIBUTEVALUE] ([DIMENSIONATTRIBUTE], [ISSUSPENDED], [ACTIVEFROM], [ACTIVETO], [ISTOTAL], [ENTITYINSTANCE], [ISBLOCKEDFORMANUALENTRY], [GROUPDIMENSION], [HASHKEY], [ISDELETED], [OWNER], [ISBALANCING_PSN], [MODIFIEDBY], [RECVERSION], [PARTITION], [RECID]) VALUES (5637144583, 1, CAST(N'1900-01-01 00:00:00.000' AS DateTime), CAST(N'1900-01-01 00:00:00.000' AS DateTime), 1, 3, 0, N'', N'0c1f284a-1135-4787-8fb4-fdfa2ab6e2c7', 1, 0, 0, N'Admin', 768175910, 5637144576, 5637144578)
GO
ALTER TABLE [dbo].[DIMENSIONATTRIBUTEVALUE]  WITH CHECK ADD CHECK  (([RECID]<>(0)))
GO
