USE [AX_DEV]
GO
/****** Object:  Table [dbo].[DIMENSIONATTRIBUTEVALUESETITEM]    Script Date: 24/07/2017 19:34:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSIONATTRIBUTEVALUESETITEM](
	[DIMENSIONATTRIBUTEVALUESET] [bigint] NOT NULL DEFAULT ((0)),
	[DIMENSIONATTRIBUTEVALUE] [bigint] NOT NULL DEFAULT ((0)),
	[DISPLAYVALUE] [nvarchar](30) NOT NULL DEFAULT (''),
	[MODIFIEDBY] [nvarchar](8) NOT NULL DEFAULT ('?'),
	[RECVERSION] [int] NOT NULL DEFAULT ((1)),
	[PARTITION] [bigint] NOT NULL DEFAULT ((5637144576.)),
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [I_3261RECID] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DIMENSIONATTRIBUTEVALUESETITEM] ([DIMENSIONATTRIBUTEVALUESET], [DIMENSIONATTRIBUTEVALUE], [DISPLAYVALUE], [MODIFIEDBY], [RECVERSION], [PARTITION], [RECID]) VALUES (5637144576, 5637145327, N'01', N'Admin', 1, 5637144576, 5637144576)
INSERT [dbo].[DIMENSIONATTRIBUTEVALUESETITEM] ([DIMENSIONATTRIBUTEVALUESET], [DIMENSIONATTRIBUTEVALUE], [DISPLAYVALUE], [MODIFIEDBY], [RECVERSION], [PARTITION], [RECID]) VALUES (5637145326, 5637146091, N'THT', N'Admin', 1, 5637144576, 5637145326)
INSERT [dbo].[DIMENSIONATTRIBUTEVALUESETITEM] ([DIMENSIONATTRIBUTEVALUESET], [DIMENSIONATTRIBUTEVALUE], [DISPLAYVALUE], [MODIFIEDBY], [RECVERSION], [PARTITION], [RECID]) VALUES (5637145327, 5637145326, N'00', N'Admin', 1, 5637144576, 5637145327)
GO
ALTER TABLE [dbo].[DIMENSIONATTRIBUTEVALUESETITEM]  WITH CHECK ADD CHECK  (([RECID]<>(0)))
GO
