USE [AX_DEV]
GO
/****** Object:  Table [dbo].[DIMENSIONFINANCIALTAG]    Script Date: 24/07/2017 19:34:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSIONFINANCIALTAG](
	[DESCRIPTION] [nvarchar](250) NOT NULL DEFAULT (''),
	[VALUE] [nvarchar](30) NOT NULL DEFAULT (''),
	[FINANCIALTAGCATEGORY] [bigint] NOT NULL DEFAULT ((0)),
	[RECVERSION] [int] NOT NULL DEFAULT ((1)),
	[PARTITION] [bigint] NOT NULL DEFAULT ((5637144576.)),
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [I_656RECID] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DIMENSIONFINANCIALTAG] ([DESCRIPTION], [VALUE], [FINANCIALTAGCATEGORY], [RECVERSION], [PARTITION], [RECID]) VALUES (N'', N'00', 5637144576, 44906835, 5637144576, 5637144576)
INSERT [dbo].[DIMENSIONFINANCIALTAG] ([DESCRIPTION], [VALUE], [FINANCIALTAGCATEGORY], [RECVERSION], [PARTITION], [RECID]) VALUES (N'Komisaris', N'01', 5637144576, 1447436128, 5637144576, 5637144577)
INSERT [dbo].[DIMENSIONFINANCIALTAG] ([DESCRIPTION], [VALUE], [FINANCIALTAGCATEGORY], [RECVERSION], [PARTITION], [RECID]) VALUES (N'Kepesertaan', N'02', 5637144576, 1540101273, 5637144576, 5637145326)
GO
ALTER TABLE [dbo].[DIMENSIONFINANCIALTAG]  WITH CHECK ADD CHECK  (([RECID]<>(0)))
GO
