USE [AX_DEV]
GO
/****** Object:  Table [dbo].[DIMENSIONATTRIBUTE]    Script Date: 24/07/2017 19:34:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSIONATTRIBUTE](
	[NAME] [nvarchar](250) NOT NULL DEFAULT (''),
	[KEYATTRIBUTE] [int] NOT NULL DEFAULT ((0)),
	[VALUEATTRIBUTE] [int] NOT NULL DEFAULT ((0)),
	[NAMEATTRIBUTE] [int] NOT NULL DEFAULT ((0)),
	[BACKINGENTITYTYPE] [int] NOT NULL DEFAULT ((0)),
	[REPORTCOLUMNNAME] [nvarchar](6) NOT NULL DEFAULT (''),
	[HASHKEY] [uniqueidentifier] NOT NULL DEFAULT ('{00000000-0000-0000-0000-000000000000}'),
	[TYPE] [int] NOT NULL DEFAULT ((0)),
	[VIEWNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[BACKINGENTITYTABLENAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[BACKINGENTITYKEYFIELDNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[BACKINGENTITYVALUEFIELDNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[BACKINGENTITYTABLEID] [int] NOT NULL DEFAULT ((0)),
	[BACKINGENTITYKEYFIELDID] [int] NOT NULL DEFAULT ((0)),
	[BACKINGENTITYVALUEFIELDID] [int] NOT NULL DEFAULT ((0)),
	[ISBALANCING_PSN] [int] NOT NULL DEFAULT ((0)),
	[BALANCINGDIMENSION_PSN] [bigint] NOT NULL DEFAULT ((0)),
	[DOCUDATASOURCEQUERYNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[TRANSLATIONKEYFIELDID] [int] NOT NULL DEFAULT ((0)),
	[TRANSLATIONKEYFIELDNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[TRANSLATIONLANGUAGEIDFIELDID] [int] NOT NULL DEFAULT ((0)),
	[TRANSLATIONLANGUAGEIDFIELDNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[TRANSLATIONNAMEFIELDID] [int] NOT NULL DEFAULT ((0)),
	[TRANSLATIONNAMEFIELDNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[TRANSLATIONTABLEID] [int] NOT NULL DEFAULT ((0)),
	[TRANSLATIONTABLENAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[TRANSLATIONVIEWID] [int] NOT NULL DEFAULT ((0)),
	[TRANSLATIONVIEWKEYFIELDID] [int] NOT NULL DEFAULT ((0)),
	[TRANSLATIONVIEWKEYFIELDNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[TRANSLATIONVIEWLANGUAGEIDFIELDID] [int] NOT NULL DEFAULT ((0)),
	[TRANSLATIONVIEWLANGUAGEIDFIELDNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[TRANSLATIONVIEWNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[TRANSLATIONVIEWNAMEFIELDID] [int] NOT NULL DEFAULT ((0)),
	[TRANSLATIONVIEWNAMEFIELDNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[TRANSLATIONVIEWSYSTEMLANGUAGEIDFIELDID] [int] NOT NULL DEFAULT ((0)),
	[TRANSLATIONVIEWSYSTEMLANGUAGEIDFIELDNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[TRANSLATIONVIEWTRANSLATEDNAMEFIELDID] [int] NOT NULL DEFAULT ((0)),
	[TRANSLATIONVIEWTRANSLATEDNAMEFIELDNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[TRANSLATIONVIEWVALUEFIELDID] [int] NOT NULL DEFAULT ((0)),
	[TRANSLATIONVIEWVALUEFIELDNAME] [nvarchar](40) NOT NULL DEFAULT (''),
	[USETRANSLATIONNAMEMETHOD] [int] NOT NULL DEFAULT ((0)),
	[MODIFIEDBY] [nvarchar](8) NOT NULL DEFAULT ('?'),
	[RECVERSION] [int] NOT NULL DEFAULT ((1)),
	[PARTITION] [bigint] NOT NULL DEFAULT ((5637144576.)),
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [I_362RECID] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DIMENSIONATTRIBUTE]  WITH CHECK ADD CHECK  (([RECID]<>(0)))
GO
